################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/waf-automation/v15/.suo
/waf-on-azure/Powershell/deployment.ps1
