azure_vm_classic { '{{name}}':
  ensure  => {{ensure}},
  {{#optional}}
  {{k}}   => '{{v}}',
  {{/optional}}
  {{#optional_endpoints}}
  endpoints => [
    {{#endpoints}}
    {
      {{#values}}
      {{k}}   => '{{v}}',
      {{/values}}
      {{#has_load_balancer}}
      load_balancer => {
        {{#load_balancer}}
        {{k}}   => '{{v}}',
        {{/load_balancer}}
      },
      {{/has_load_balancer}}
    },
    {{/endpoints}}
  ],
  {{/optional_endpoints}}
}
