[req]
req_extensions = v3_req
distinguished_name = req_distinguished_name

[req_distinguished_name]
countryName = Country Name (2 letter code)
countryName_default = US
stateOrProvinceName = State or Province Name (full name)
stateOrProvinceName_default = CA
localityName = Locality Name (eg, city)
localityName_default = Campbell
organizationName = Organization Name
organizationName_default = Barracuda Networks, Inc.
organizationalUnitName  = Organizational Unit Name (eg, section)
organizationalUnitName_default  =
commonName = Common Name (e.g. server FQDN or YOUR name)
commonName_default = {}
commonName_max  = 64

[ v3_req ]
# Extensions to add to a certificate request
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
{}subjectAltName = @alt_names

[alt_names]
# DNS.1=domain1.com
# DNS.2=domain2.com
{}
